services:
  postgres:
    container_name: postgres_surr
    image: postgres:18
    env_file:
      - ./backend/.env
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql

  redis:
    image: redis:8-alpine
    command: redis-server /etc/redis.conf
    restart: unless-stopped
    container_name: redis_surr
    ports:
      - "6379:6379"
    volumes:
      - ./redis.conf:/etc/redis.conf

  ingress:
    image: livekit/ingress:latest
    restart: unless-stopped
    container_name: ingress_surr
    ports:
      - "1935:1935"
      - "8080:8080"
      - "7885:7885/udp"
    environment:
      - INGRESS_CONFIG_FILE=/etc/ingress.yaml
    volumes:
      - ./ingress.yaml:/etc/ingress.yaml
    depends_on:
      - redis
      - livekit

  livekit:
    image: livekit/livekit-server:master
    container_name: livekit_surr
    command: --config /etc/livekit.yaml --dev
    restart: unless-stopped
    ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882/udp"
    volumes:
      - ./livekit.yaml:/etc/livekit.yaml

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_surr
    restart: unless-stopped
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - livekit
    volumes:
      - ./backend/src:/app/src

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend/src:/app/src
