name: Lint and Type Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  uv:
    name: Lint & Type Check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install
        working-directory: backend

      - name: Install dependencies
        run: uv sync
        working-directory: backend

      - name: Run Ruff (Linting & Formatting)
        run: |
          uv run ruff check .
          uv run ruff format --check .
        working-directory: backend

      - name: Run ty (Type Checking)
        run: |
          uv run ty check
        working-directory: backend
